openapi: 3.0.4
info:
  title: NolaTabs API
  description: This is the API specification for the backend of NolaTabs application
  version: 0.1.9

servers:
  - url: http://nolatabs.com/api/v1
    description: API server for NolaTabs application (version 1)
  - url: http://staging-nolatabs.example.com
    description: Internal staging server for testing

paths:
  /ping:
    get:
      summary: Pings the server to check if it is alive.
      responses:
        "200":
          description: Pong response
          content:
            text/plain:
              schema:
                type: string
                example: pong
  /auth/init:
    $ref: 'handlers/auth.yaml#/init'
  /auth/me:
    $ref: 'handlers/auth.yaml#/me'
  /account/payment-info:
    $ref: 'handlers/account.yaml#/payment-info'
  /account/settings:
    $ref: 'handlers/account.yaml#/settings'
  /repositories:
    $ref: 'handlers/repositories.yaml#/all'
  /repositories/push:
    $ref: 'handlers/repositories.yaml#/push'
  /repositories/pull:
    $ref: 'handlers/repositories.yaml#/pull'
  /repositories/share-links:
    $ref: 'handlers/repositories.yaml#/share-links'
  /commits:
    $ref: 'handlers/commits.yaml#/commits'

components:
  schemas:
    ShareLinksResponse:
      type: object
      properties:
        url:
          type: string
    ShareLinksRequest:
      type: object
      properties:
        repoId:
          type: string
        commitHash:
          type: string

    CreateRepositoryRequest:
      type: object
      properties:
        owner:
          type: string
        name:
          type: string

    PushRequest:
      type: object
      properties:
        repo:
          type: object
          properties:
            owner:
              type: string
            name:
              type: string
        commits:
          $ref: "#/components/schemas/Commits"

    UserID:
      type: integer
      format: int64
      description: ID of the newly created user
      example: 3421

    Repositories:
      type: array
      items:
        type: object
        properties:
          public:
            type: boolean
          owner:
            type: integer
          name:
            type: string
          collaborators:
            type: array
            items:
              type: object
              properties:
                id: 
                  type: integer
                permissions:
                  type: object
                  properties:
                    read:
                      type: boolean
                    write:
                      type: boolean
                    suggest:
                      type: boolean
                    share:
                      type: boolean
                    admin:
                      type: boolean
                    grantable-permissions:
                      type: array
                      items:
                        type: string
                        enum: [read, write, suggest, share, admin]
      description: List of repositories

    Commits:
      type: array
      items:
        type: object
        properties:
          hash:
            type: string
          author:
            type: string
          timestamp:
            type: integer
            format: int64
          encryptedMessage: 
            type: string
          additions:
            type: object
            properties:
              after:
                type: integer
              encryptedTab:
                type: string
          deletions:
            type: object
            properties:
              index:
                type: integer
          parentHashes:
            type: array
            items:
              type: string
      description: List of commits

  securitySchemes:
    bearerAuth: # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT # optional, arbitrary value for documentation purposes

