openapi: 3.0.4
info:
  title: NolaTabs API
  description: This is the API specification for the backend of NolaTabs application
  version: 0.1.9

servers:
  - url: http://nolatabs.com/api/v1
    description: API server for NolaTabs application (version 1)
  - url: http://staging-nolatabs.example.com
    description: Internal staging server for testing

paths:
  /ping:
    get:
      summary: Pings the server to check if it is alive.
      responses:
        "200":
          description: Pong response
          content:
            text/plain:
              schema:
                type: string
                example: pong
  /auth/init:
    post:
      security:
        - bearerAuth: []
      summary: Endpoint for creating a user.
      description: This creates a user in the backend for NolaTabs. This is a *prerequisite* for accessing any endpoints that may require authentication. The associated user must have been signed up using Firebase authentication already. This expects a Firebase ID token from the client side.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignupRequest'
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserID'
  /auth/me:
    get:
      security:
        - bearerAuth: []
      summary: Endpoint for getting the current user ID.
      responses:
        "200":
          description: Successfully found user related to the current Firebase ID token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserID'
  /account/payment-info:
    get:
      security:
        - bearerAuth: []
      summary: Endpoint for getting the current user's account payment info
      responses:
        "200":
          description: Sucessfully found user account info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPaymentInfo'
  /account/settings:
    get:
      security:
        - bearerAuth: []
      summary: Endpoint for getting the settings for the current user.
      responses:
        "200":
          description: Successfully found user account settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSettings'
  /repositories:
    get:
      security:
        - bearerAuth: []
      summary: Endpoint for getting the repositories for the current user.
      responses:
        "200":
          description: Successfully found user repositories
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Repositories'
  /commits:
    get:
      security:
        - bearerAuth: []
      summary: Endpoint for getting the commits associated with a specific repository
      parameters:
        - in: query
          name: repoId
          schema:
            type: integer
          required: true
          description: Numeric ID of repo to fetch commits from
      responses:
        "200":
          description: Successfully found the commits associated with the given repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Commits'

components:
  schemas:
    SignupRequest:
      type: object
      properties:
        email:
          type: string
        username:
          type: string
      example: { email: "johndoe@example.com" , username: "John Doe" }

    UserID:
      type: integer
      format: int64
      description: ID of the newly created user
      example: 3421

    Repositories:
      type: array
      items:
        type: object
        properties:
          public:
            type: boolean
          owner:
            type: integer
          name:
            type: string
          collaborators:
            type: array
            items:
              type: object
              properties:
                id: 
                  type: integer
                permissions:
                  type: object
                  properties:
                    read:
                      type: boolean
                    write:
                      type: boolean
                    suggest:
                      type: boolean
                    share:
                      type: boolean
                    admin:
                      type: boolean
                    grantable-permissions:
                      type: array
                      items:
                        type: string
                        enum: [read, write, suggest, share, admin]
      description: List of repositories

    Commits:
      type: array
      items:
        type: object
        properties:
          hash:
            type: string
          author:
            type: string
          timestamp:
            type: integer
            format: int64
          encryptedMessage: 
            type: string
          additions:
            type: object
            properties:
              after:
                type: integer
              encryptedTab:
                type: string
          deletions:
            type: object
            properties:
              index:
                type: integer
          parentHashes:
            type: array
            items:
              type: string
      description: List of commits

    AccountPaymentInfo:
      type: object
      properties:
        paid-until:
          type: integer
          format: int64
        subscription-type:
          type: string
          enum: [sync, collaborate]

    AccountSettings:
      type: object
      properties:
        preferred-command-style:
          type: string
          enum: [unix, plain-english]
        auto-commit-behaviour:
          type: string
          enum: [timer, count, off]
        auto-commit-timer-interval:
          type: integer
        auto-commit-count-interval:
          type: integer
        auto-pull-behaviour:
          type: string
          enum: [timer, on, off]
        auto-pull-timer-interval:
          type: integer
        auto-push-behaviour:
          type: string
          enum: [timer, count, off]
        auto-push-timer-interval:
          type: integer
        auto-push-count-interval:
          type: integer
  securitySchemes:
    bearerAuth: # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT # optional, arbitrary value for documentation purposes

