openapi: 3.0.4
info:
  title: NolaTabs API
  description: This is the API specification for the backend of NolaTabs application
  version: 0.1.9

servers:
  - url: http://nolatabs.com/api/v1
    description: API server for NolaTabs application (version 1)
  - url: http://staging-nolatabs.example.com
    description: Internal staging server for testing

paths:
  /ping:
    get:
      summary: Pings the server to check if it is alive.
      responses:
        "200":
          description: Pong response
          content:
            text/plain:
              schema:
                type: string
                example: pong
  /auth/init:
    $ref: 'handlers/auth.yaml#/init'
  /auth/me:
    $ref: 'handlers/auth.yaml#/me'
  /account/payment-info:
    $ref: 'handlers/account.yaml#/payment-info'
  /account/settings:
    $ref: 'handlers/account.yaml#/settings'
  /repositories:
    $ref: 'handlers/repositories.yaml#/all'
  /repositories/push:
    $ref: 'handlers/repositories.yaml#/push'
  /repositories/pull:
    $ref: 'handlers/repositories.yaml#/pull'
  /repositories/share:
    $ref: 'handlers/repositories.yaml#/share'
  /commits:
    $ref: 'handlers/commits.yaml#/commits'

components:
  schemas:
    UserID:
      $ref: 'components/schemas/user.yaml#/UserID'
    CreateRepositoryRequest:
      $ref: 'components/schemas/repository.yaml#/CreateRepositoryRequest'
    PushRequest:
      $ref: 'components/schemas/repository.yaml#/PushRequest'
    ShareLinksRequest:
      $ref: 'components/schemas/repository.yaml#/ShareLinksRequest'
    ShareLinksResponse:
      $ref: 'components/schemas/repository.yaml#/ShareLinksResponse'
    Repositories:
      $ref: 'components/schemas/repository.yaml#/Repositories'
    Commits:
      $ref: 'components/schemas/repository.yaml#/Commits'
  securitySchemes:
    bearerAuth: # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT # optional, arbitrary value for documentation purposes

